<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our team</title>
<style>
    h1{
        text-align: center;
    }
    th {
        color: blue;
    }
</style>
</head>

<h1 ><b>OUR TEAM</b></h1>
<table border="2">
    <tr>

        <td style="image-rendering: auto;">
            <div style="text-align: center;">
                <img src="../assets/piyush.png" width="375" height="375"></div>
        </td>
        <td>
            <div style="text-align: center;">
                <img src="../assets/bakshi.jpg" width="375" height="375"></div>
        </td>
        <td>
            <div style="text-align: center;">
                <img src="../assets/ramesh.jpg" width="375" height="375"></div>
        </td>
    </tr>


    <tr>

        <th>Piyush Gupta</th>
        <th>Sandeep Bakshi</th>
        <th>Ramesh Sobti</th>
    </tr>

    <tr>
        <td>Mr. Piyush Gupta has been Chief Executive Officer and Director of DBS Group since 2009.
            DBS is a leading financial services group in Asia, headquartered in Singapore.
            Recognised for its global leadership, DBS has been named “World’s Best Bank” by several global publications like Euromoney and Global Finance. 
                    </td>
        <td>Sandeep Bakshi has extensive global experience in the IT and software industry including 27 years at IBM.
            he served as senior vice president and group executive with responsibility for sales and distribution of
            IBM’s products and services worldwide.
            Additionally Lawrie was general manager for IBM’s EMEA business, which included operations in 124 countries
            and more than 90,000 employees at the time.</td>
        <td>Ramesh Sobti served as the chief financial officer and executive vice president of American International
            Group (AIG) from 2008 to 2016.
            Mr. Herzog served as senior vice president and comptroller of AIG from June 2005 to October 2008,
            chief financial officer for worldwide life insurance operations from April 2004 to June 2005, and
            vice president, Life Insurance from 2003 to 2004. </td>
    </tr>
</table>
</html>