<body style="background-color: rgb(206, 195, 219);">
    <style>
            *{
        margin: 0;
        padding: 0;
    }
        h1 {
            text-align: center;

        }

        p {
            font-size: 20px;
        }

        article {
            font-size: 20px;
        }
    </style>
    <h1 style="color: yellow;" style="background-color: rgb(163, 46, 46);"><b><u>HOME</u></b></h1>
    <table>
        <tr>
            <td>
                <img src="../assets/img2.jpg" width=1260px; height=600px; />
            </td>
            
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td>
                <div>
                    <h1 style="color: blue;">YOUR MONEY SAFE IN OUR HANDS!!!BE HAPPY & RELAXED</h1>
                    <h4 style="color: rgb(207, 69, 145);">While it’s great to think about how to keep your money safe, you should also think about how to make it work for you.</h4>
                    <p style="color: black;">Integrated banking services has been devoted to serve its customers since inception. We are committed to introduce new services, make existing services faster and better than ever. We have a capable, energetic and innovative software team which have been introducing our systems and applications according to our customers' need.
                    </p>
                </div>
            </td>
            <td>
                <div>
                    <img src="../assets/AnyConv.com__index(1).jpg" width=320; height=230;>
                </div>
            </td>
        </tr>
    </table>
    <div class="container-fluid  py-2">


        <table style width="100%" bottom="0px" style="background-color: rosybrown;">
            <tr>

                <style>
                    tr {
                        color: red;
                        font-size: 20px;

                    }
                </style>

                <td>@CopyRights Reserved, DXC Technology India PVT Ltd.2020</td>
                <td>Facebook</td>
                <td>twitter</td>
                <td>Gmail</td>
            </tr>
        </table>

    </div>
</body>
